# --- Python & Environnement ---
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.venv/
.tox/
.mypy_cache/
.pytest_cache/

# --- Base de données BAOLSAT ---
# On ignore les bases de données locales pour ne pas pousser 
# tes messages de chat privés sur GitHub.
*.db
!baolsat_template.db  # Optionnel : garde un template vide si besoin
sunu.db

# --- Fichiers Médias (Photos du Chat) ---
# On ne veut pas sauvegarder toutes les photos envoyées par les agents sur Git
static/uploads/*
!static/uploads/.gitkeep

# --- Logs & Performance ---
*.log
.coverage
.cache
nosetests.xml
coverage.xml

# --- Système ---
.DS_Store
.vscode/
.idea/
