# --- Analyse Satellite & Calculs ---
copernicusmarine>=2.3.0
numpy>=1.26.0
matplotlib>=3.8.0
xarray>=2024.1.0
netcdf4>=1.6.5
cftime>=1.6.3

# --- Backend & Serveur ---
flask>=3.0.0
flask-sqlalchemy>=3.1.1
gunicorn>=21.2.0
requests>=2.31.0
waitress>=3.0.0

# --- Services Vocaux & Géo ---
gtts>=2.5.0
geopy>=2.4.1
SpeechRecognition>=3.10.4

# --- Reporting PDF ---
fpdf>=1.7.2
